@page "/characterBuilder"
@using PSOServerWebsite.Pages.CharacterBuilderModels
@using WeaponModel = PSOServerWebsite.Pages.CharacterBuilderModels.WeaponModel
@using ArmorModel = PSOServerWebsite.Pages.CharacterBuilderModels.ArmorModel
@using ShieldModel = PSOServerWebsite.Pages.CharacterBuilderModels.ShieldModel
@using UnitModel = PSOServerWebsite.Pages.CharacterBuilderModels.UnitModel
@using MagModel = PSOServerWebsite.Pages.CharacterBuilderModels.MagModel
@using PSOServerWebsite.Repositories
@using PSOServerWebsite.Services
@using System.Text.RegularExpressions
@inject IJSRuntime JsRuntime
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject LevelTableRepository levelTableRepository
@inject ItemsService itemsService
@inject DropsLocationsService dropsLocationsService
@inject BattleParameterRepository battleParameterRepository

<PageTitle>Character Builder</PageTitle>

<h1>Character Builder</h1>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <div id="alerts"></div>
    <div class="container mb-2">
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalCharacterSelection">Change character</button>
    </div>
    <div class="container border rounded">
        <div class="row">
            <div class="col">
                <label class="form-label">
                    Name
                    <InputText @bind-Value="Name" DisplayName="Name" class="form-control"></InputText>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Class
                    <InputSelect @bind-Value="ClassRaceSelection" class="form-select" aria-label="Select a class">
                        <option value="">Select a class ...</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.HUmar)" value="@ClassFlag.HUmar">HUmar</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.HUnewearl)" value="@ClassFlag.HUnewearl">HUnewearl</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.HUcast)" value="@ClassFlag.HUcast">HUcast</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.HUcaseal)" value="@ClassFlag.HUcaseal">HUcaseal</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.RAmar)" value="@ClassFlag.RAmar">RAmar</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.RAmarl)" value="@ClassFlag.RAmarl">RAmarl</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.RAcast)" value="@ClassFlag.RAcast">RAcast</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.RAcaseal)" value="@ClassFlag.RAcaseal">RAcaseal</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.FOmar)" value="@ClassFlag.FOmar">FOmar</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.FOmarl)" value="@ClassFlag.FOmarl">FOmarl</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.FOnewm)" value="@ClassFlag.FOnewm">FOnewm</option>
                        <option selected="@(ClassRaceSelection == ClassFlag.FOnewearl)" value="@ClassFlag.FOnewearl">FOnewearl</option>
                    </InputSelect>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Level
                    <InputNumber @bind-Value="Level" DisplayName="Level" class="form-control"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Loadout
                    <InputSelect @bind-Value="LoadoutSelection" class="form-select" aria-label="Select a loadout">
                        @foreach (var loadout in Character.Loadouts)
                        {
                            <option selected="@(LoadoutSelection == loadout.Key)" value="@loadout.Key">@loadout.Key</option>
                        }
                    </InputSelect>
                </label>
                <div class="btn-group btn-group-sm align-top mt-1" role="group" aria-label="Loadout controls">
                    <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#modalLoadoutNew"><span class="bi bi-plus" aria-hidden="true"></span></button>
                    <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalLoadoutEdit"><span class="bi bi-pencil" aria-hidden="true"></span></button>
                    <button class="btn btn-danger btn-sm" onclick="confirmDeleteLoadout()"><span class="bi bi-dash" aria-hidden="true"></span></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">
                    HP
                    <InputNumber @bind-Value="HP" DisplayName="HP" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    TP
                    <InputNumber @bind-Value="TP" DisplayName="TP" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    ATP
                    <InputNumber @bind-Value="ATP" DisplayName="ATP" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    DFP
                    <InputNumber @bind-Value="DFP" DisplayName="DFP" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    MST
                    <InputNumber @bind-Value="MST" DisplayName="MST" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    ATA
                    <InputNumber @bind-Value="ATA" DisplayName="ATA" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    EVP
                    <InputNumber @bind-Value="EVP" DisplayName="EVP" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    LCK
                    <InputNumber @bind-Value="LCK" DisplayName="LCK" class="form-control" disabled></InputNumber>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">
                    EFR
                    <InputNumber @bind-Value="EFR" DisplayName="EFR" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    EIC
                    <InputNumber @bind-Value="EIC" DisplayName="EIC" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    ETH
                    <InputNumber @bind-Value="ETH" DisplayName="ETH" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    EDK
                    <InputNumber @bind-Value="EDK" DisplayName="EDK" class="form-control" disabled></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    ELT
                    <InputNumber @bind-Value="ELT" DisplayName="ELT" class="form-control" disabled></InputNumber>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col offset-1">
                <label class="form-label">
                    HP Material
                    <InputNumber @bind-Value="HPMaterial" DisplayName="HP Material" class="form-control"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    TP Material
                    <InputNumber @bind-Value="TPMaterial" DisplayName="TP Material" class="form-control"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Power Material
                    <InputNumber @bind-Value="PowerMaterial" DisplayName="Power Material" class="form-control"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Def Material
                    <InputNumber @bind-Value="DefMaterial" DisplayName="Def Material" class="form-control"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Mind Material
                    <InputNumber @bind-Value="MindMaterial" DisplayName="Mind Material" class="form-control"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Evade Material
                    <InputNumber @bind-Value="EvadeMaterial" DisplayName="Evade Material" class="form-control"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Luck Material
                    <InputNumber @bind-Value="LuckMaterial" DisplayName="Luck Material" class="form-control"></InputNumber>
                </label>
            </div>
        </div>
        <div class="row small">
            <div class="col-1">
                Target
                <span>@TargetMaterialTotal</span>/<span>@MaxTargetMaterialTotal</span>
                <div class="form-check form-switch small">
                    <InputCheckbox id="checkTargetEditMode" @bind-Value="TargetEditMode" DisplayName="Edit mode" class="form-check-input"></InputCheckbox>
                    <label class="form-check-label" for="checkTargetEditMode">Edit mode</label>
                </div>
            </div>
            <div class="col">
                <label class="form-label">
                    HP Material
                    <input type="number" class="form-control form-control-sm" value="125" disabled />
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    TP Material
                    <input type="number" class="form-control form-control-sm" value="@MaxTPMaterial()" disabled />
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Power Material
                    <InputNumber @bind-Value="TargetPowerMaterial" DisplayName="Target Power Material" class="form-control form-control-sm" disabled="@(!TargetEditMode)"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Def Material
                    <InputNumber @bind-Value="TargetDefMaterial" DisplayName="Target Def Material" class="form-control form-control-sm" disabled="@(!TargetEditMode)"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Mind Material
                    <InputNumber @bind-Value="TargetMindMaterial" DisplayName="Target Mind Material" class="form-control form-control-sm" disabled="@(!TargetEditMode)"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Evade Material
                    <InputNumber @bind-Value="TargetEvadeMaterial" DisplayName="Target Evade Material" class="form-control form-control-sm" disabled="@(!TargetEditMode)"></InputNumber>
                </label>
            </div>
            <div class="col">
                <label class="form-label">
                    Luck Material
                    <InputNumber @bind-Value="TargetLuckMaterial" DisplayName="Target Luck Material" class="form-control form-control-sm" disabled="@(!TargetEditMode)"></InputNumber>
                </label>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col">
                <label class="form-label d-flex flex-column justify-content-between h-100">
                    Weapon
                    <span class="form-control-plaintext form-text">@Character.WeaponName</span>
                    <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditWeapon">Edit</button>
                </label>
            </div>
            <div class="col">
                <label class="form-label d-flex flex-column justify-content-between h-100">
                    Armor
                    <span class="form-control-plaintext form-text">@Character.ArmorName</span>
                    <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditArmor">Edit</button>
                </label>
            </div>
            @if (Armor.NumberSlots > 0)
            {
                <div class="col">
                    <label class="form-label d-flex flex-column justify-content-between h-100">
                        Unit 1
                        <span class="form-control-plaintext form-text">@Character.Unit1Name</span>
                        <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditUnit" @onclick="@(()=> EditUnit = 1)">Edit</button>
                    </label>
                </div>
            }
            @if (Armor.NumberSlots > 1)
            {
                <div class="col">
                    <label class="form-label d-flex flex-column justify-content-between h-100">
                        Unit 2
                        <span class="form-control-plaintext form-text">@Character.Unit2Name</span>
                        <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditUnit" @onclick="@(()=> EditUnit = 2)">Edit</button>
                    </label>
                </div>
            }
            @if (Armor.NumberSlots > 2)
            {
                <div class="col">
                    <label class="form-label d-flex flex-column justify-content-between h-100">
                        Unit 3
                        <span class="form-control-plaintext form-text">@Character.Unit3Name</span>
                        <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditUnit" @onclick="@(()=> EditUnit = 3)">Edit</button>
                    </label>
                </div>
            }
            @if (Armor.NumberSlots > 3)
            {
                <div class="col">
                    <label class="form-label d-flex flex-column justify-content-between h-100">
                        Unit 4
                        <span class="form-control-plaintext form-text">@Character.Unit4Name</span>
                        <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditUnit" @onclick="@(()=> EditUnit = 4)">Edit</button>
                    </label>
                </div>
            }
            <div class="col">
                <label class="form-label d-flex flex-column justify-content-between h-100">
                    Shield
                    <span class="form-control-plaintext form-text">@Character.ShieldName</span>
                    <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditShield">Edit</button>
                </label>
            </div>
            <div class="col">
                <label class="form-label d-flex flex-column justify-content-between h-100">
                    Mag
                    <span class="form-control-plaintext form-text">@Character.MagName</span>
                    <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#modalEditMag">Edit</button>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label">
                    Shifta Level
                    <InputNumber @bind-Value="ShiftaLevel" DisplayName="Shifta Level" class="form-control"></InputNumber>
                </label>
                <span class="ms-1">@GetShiftaDebandDuration(ShiftaLevel)</span>
            </div>
            <div class="col">
                <label class="form-label">
                    Deband Level
                    <InputNumber @bind-Value="DebandLevel" DisplayName="Deband Level" class="form-control"></InputNumber>
                </label>
                <span class="ms-1">@GetShiftaDebandDuration(DebandLevel)</span>
            </div>
        </div>
        @if (GetEveryTechBoost().Any())
        {
            <div class="row">
                <div class="col-2">
                    Technique Boosts
                </div>
                @foreach (var techBoost in GetEveryTechBoost())
                {
                    <div class="col-2">
                        <label class="form-label">
                            @techBoost.Name
                            <span class="input-group">
                                @if (techBoost.Name == "Megid")
                                {
                                    <InputText Value="@techBoost.Suffix" ValueExpression="@(() => techBoost.Suffix)" DisplayName="@techBoost.Name" class="form-control" disabled></InputText>
                                }
                                else
                                {
                                    <InputNumber Value="@techBoost.Value" ValueExpression="@(() => techBoost.Value)" DisplayName="@techBoost.Name" class="form-control" disabled></InputNumber>
                                    @if (techBoost.Suffix != null)
                                    {
                                        <span class="input-group-append input-group-text">@techBoost.Suffix</span>
                                    }
                                }
                            </span>
                        </label>
                    </div>
                }
            </div>
        }
        @if (GetEverySpecialStats().Any())
        {
            <div class="row">
                <div class="col-2">
                    Hidden Stats
                </div>
                @foreach (var specialStat in GetEverySpecialStats())
                {
                    <div class="col-2">
                        <label class="form-label">
                            @specialStat.Name
                            <span class="input-group">
                                @if (specialStat.Prefix != null)
                                {
                                    <span class="input-group-prepend input-group-text">@specialStat.Prefix</span>
                                }
                                @if (specialStat.Value != 0)
                                {
                                    <InputNumber Value="@specialStat.Value" ValueExpression="@(() => specialStat.Value)" DisplayName="@specialStat.Name" class="form-control" disabled></InputNumber>
                                }
                                @if (specialStat.Suffix != null)
                                {
                                    <span class="input-group-append input-group-text">@specialStat.Suffix</span>
                                }
                            </span>
                        </label>
                    </div>
                }
            </div>
        }
        <div class="row">
            <div class="col">
                <label class="form-label w-100">
                    Notes
                    <textarea id="textAreaNotes" class="form-control" @bind="Notes"></textarea>
                </label>
            </div>
        </div>
        <script type="text/javascript">
            const textAreaNotes = document.getElementById('textAreaNotes');
            textAreaNotes.addEventListener('input', adjustNotesSize);
            function adjustNotesSize() {
            textAreaNotes.style.height = 'auto';
            textAreaNotes.style.height = `${textAreaNotes.scrollHeight}px`;
            }
        </script>

        <div class="row">
            <div class="col-auto">
                <label class="form-label">Test Against Monster Enemy (TAME)</label>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#modalChangeMonster">
                    Change monster
                </button>
            </div>
        </div>
        @if (MonsterTest != null)
        {
            <div class="row">
                <div class="col">
                    <label class="form-label">Are you?</label>
                </div>
                <div class="col">
                    <span class="form-check form-switch">
                        <label class="form-check-label">
                            <img src="img/32px-Paralysis.png" title="Paralyzed" /> or <img src="img/32px-Shock.png" title="Shocked" />
                            <input @bind="@MonsterTestPlayerIsParalyzed" class="form-check-input" type="checkbox" />
                        </label>
                    </span>
                </div>
                <div class="col">
                    <span class="form-check form-switch">
                        <label class="form-check-label">
                            <img src="img/32px-Freeze.png" title="Frozen" />
                            <input @bind="@MonsterTestPlayerIsFrozen" class="form-check-input" type="checkbox" />
                        </label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col col-2">
                    <label class="form-label">
                        Name
                        <InputText @bind-Value="MonsterTest.Name" DisplayName="Name" class="form-control" disabled></InputText>
                    </label>
                </div>
                <div class="col">
                    <label class="form-label">
                        HP
                        <input value="@MonsterTest.HP" class="form-control" disabled />
                    </label>
                </div>
                <div class="col">
                    <label class="form-label">
                        ATP
                        <input value="@MonsterTest.ATP" class="form-control" disabled />
                    </label>
                </div>
                <div class="col">
                    <label class="form-label">
                        DFP
                        <input value="@MonsterTest.DFP" class="form-control" disabled />
                    </label>
                </div>
                <div class="col">
                    <label class="form-label">
                        MST
                        <input value="@MonsterTest.MST" class="form-control" disabled />
                    </label>
                </div>
                <div class="col">
                    <label class="form-label">
                        ATA
                        <input value="@MonsterTest.ATA" class="form-control" disabled />
                    </label>
                </div>
                <div class="col">
                    <label class="form-label">
                        EVP
                        <input value="@MonsterTest.EVP" class="form-control" disabled />
                    </label>
                </div>
                <div class="col">
                    <label class="form-label">
                        LCK
                        <input value="@MonsterTest.LCK" class="form-control" disabled />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col col-2">
                    <label class="form-label">
                        EFR
                        <input value="@MonsterTest.EFR" class="form-control" disabled />
                    </label>
                </div>
                <div class="col col-2">
                    <label class="form-label">
                        EIC
                        <input value="@MonsterTest.EIC" class="form-control" disabled />
                    </label>
                </div>
                <div class="col col-2">
                    <label class="form-label">
                        ETH
                        <input value="@MonsterTest.ETH" class="form-control" disabled />
                    </label>
                </div>
                <div class="col col-2">
                    <label class="form-label">
                        EDK
                        <input value="@MonsterTest.EDK" class="form-control" disabled />
                    </label>
                </div>
                <div class="col col-2">
                    <label class="form-label">
                        ELT
                        <input value="@MonsterTest.ELT" class="form-control" disabled />
                    </label>
                </div>
                <div class="col col-2">
                    <label class="form-label">
                        ESP
                        <input value="@MonsterTest.ESP" class="form-control" disabled />
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">Is it?</label>
                </div>
                <div class="col">
                    <span class="form-check form-switch">
                        <label class="form-check-label">
                            <img src="img/32px-Paralysis.png" title="Paralyzed" /> or <img src="img/32px-Shock.png" title="Shocked" />
                            <input @bind="@MonsterTestEnemyIsParalyzed" class="form-check-input" type="checkbox" />
                        </label>
                    </span>
                </div>
                <div class="col">
                    <span class="form-check form-switch">
                        <label class="form-check-label">
                            <img src="img/32px-Freeze.png" title="Frozen" />
                            <input @bind="@MonsterTestEnemyIsFrozen" class="form-check-input" type="checkbox" />
                        </label>
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">
                        Normal Attack
                        <span class="row">
                            <span class="col col-3">
                                <span class="input-group">
                                    <input value="@PlayerNormalAttackAccuracy" class="form-control" disabled />
                                    <span class="input-group-append input-group-text">%</span>
                                </span>
                            </span>
                            <span class="col">
                                <input value="@PlayerNormalAttackLowDamage - @PlayerNormalAttackHighDamage" class="form-control" disabled />
                            </span>
                        </span>
                    </label>
                </div>
                <div class="col">
                    <label class="form-label">
                        Critical Hit
                        <span class="row">
                            <span class="col col-3">
                                <span class="input-group">
                                    <input value="@PlayerNormalAttackCriticalChance" class="form-control" disabled />
                                    <span class="input-group-append input-group-text">%</span>
                                </span>
                            </span>
                            <span class="col">
                                <input value="@PlayerNormalAttackCriticalLowDamage - @PlayerNormalAttackCriticalHighDamage" class="form-control" disabled />
                            </span>
                        </span>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label class="form-label">
                        Enemy Attack
                        <span class="row">
                            <span class="col col-3">
                                <span class="input-group">
                                    <input value="@MonsterNormalAttackAccuracy" class="form-control" disabled />
                                    <span class="input-group-append input-group-text">%</span>
                                </span>
                            </span>
                            <span class="col">
                                <input value="@MonsterNormalAttackDamage" class="form-control" disabled />
                            </span>
                            <span class="col">
                                <span class="form-check form-switch">
                                    <label class="form-check-label">
                                        Is Knockdown
                                        <input checked="@MonsterNormalAttackIsKnockdown" class="form-check-input" type="checkbox" disabled />
                                    </label>
                                </span>
                            </span>
                        </span>
                    </label>
                </div>
                <div class="col">
                    <label class="form-label">
                        Critical Hit
                        <span class="row">
                            <span class="col col-3">
                                <span class="input-group">
                                    <input value="@MonsterNormalAttackCriticalChance" class="form-control" disabled />
                                    <span class="input-group-append input-group-text">%</span>
                                </span>
                            </span>
                            <span class="col">
                                <input value="@MonsterNormalAttackCriticalDamage" class="form-control" disabled />
                            </span>
                            <span class="col">
                                <span class="form-check form-switch">
                                    <label class="form-check-label">
                                        Is Knockdown
                                        <input checked="@MonsterNormalAttackCriticalIsKnockdown" class="form-check-input" type="checkbox" disabled />
                                    </label>
                                </span>
                            </span>
                        </span>
                    </label>
                </div>
            </div>
        }

        <div class="row">
            <div class="col">
                <label class="form-label w-100">Wishlist</label>
                <div class="btn-group-vertical vstack" role="group">
                    @foreach (var wishItem in Character.Wishlist)
                    {
                        <button type="button" class="btn btn-outline-primary d-flex" @onclick="@(()=> modals!.ShowEditWishlist(wishItem))">
                            <ItemName ItemIdentifier="@GetItemByName(wishItem)?.ItemIdentifier" />
                            <div class="btn btn-sm btn-danger ms-auto" @onclick="@(()=> modals!.ShowDeleteWishlist(wishItem))" @onclick:stopPropagation="true">Delete</div>
                        </button>
                    }

                    <button type="button" class="btn btn-outline-secondary d-flex" data-bs-toggle="modal" data-bs-target="#modalWishlistNew">
                        ~ Add to Wishlist ~
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label class="form-label w-100">Where to find</label>
                <table class="table table-striped table-hover table-sm">
                    <tbody>
                        @foreach (var location in GetItemLocations())
                        {
                            <tr>
                                <th>
                                    <ItemName ItemIdentifier="@location.ItemIdentifier" />
                                    @if (location.Modifier != null)
                                    {
                                        <text>&nbsp;</text>
                                        @location.Modifier
                                    }
                                </th>
                                <td>@location.DifficultyName</td>
                                <td class="text-nowrap">@location.EpisodeName</td>
                                <td>@location.LocationName</td>
                                <td><SectionId Value="@location.SectionId" /></td>
                                <td><Probability ProbabilityRatio="@location.Probability" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <CharacterBuilder_Modals @ref="modals" Parent="this" EditUnitIndex="EditUnit" Weapons="weapons" Armors="armors" Shields="shields" Units="units" Mags="mags" BattleParameters="battleParameters" OnClose="() => { RefreshStats(); StateHasChanged(); }" />
}

@code {
    private CharacterBuilder_Modals? modals;

    [DisallowNull] private LevelTableModel levelTable = default!;
    [DisallowNull] private ItemModel[] items = default!;
    [DisallowNull] private ItemModel[] weapons = default!;
    [DisallowNull] private ItemModel[] armors = default!;
    [DisallowNull] private ItemModel[] units = default!;
    [DisallowNull] private ItemModel[] shields = default!;
    [DisallowNull] private ItemModel[] mags = default!;
    [DisallowNull] private IEnumerable<DropLocationModel> dropsLocations = default!;
    [DisallowNull] private BattleParameterModel battleParameters = default!;

    [DisallowNull] public List<CharacterModel> Characters { get; set; } = new();
    [DisallowNull] public CharacterModel Character { get; set; } = default!;
    private int EditUnit { get; set; }

    [MemberNotNullWhen(false, nameof(levelTable), nameof(items), nameof(weapon), nameof(armors), nameof(units), nameof(shields), nameof(mags), nameof(dropsLocations), nameof(battleParameters))]
    private bool IsLoading => levelTable == null || items == null || dropsLocations == null || battleParameters == null;

    protected override async Task OnInitializedAsync()
    {
        levelTable = await levelTableRepository.GetLevelTableAsync();
        items = itemsService.GetItems().ToArray();
        weapons = items.Where(i => i.ItemType == ItemType.Weapon).ToArray();
        armors = items.Where(i => i.ItemType == ItemType.Armor).ToArray();
        shields = items.Where(i => i.ItemType == ItemType.Shield).ToArray();
        units = items.Where(i => i.ItemType == ItemType.Unit).ToArray();
        mags = items.Where(i => i.ItemType == ItemType.Mag).ToArray();

        dropsLocations = await dropsLocationsService.GetDropsLocationsAsync();

        battleParameters = await battleParameterRepository.GetBattleParameterAsync();

        var characterSelectedIndex = await localStorage.GetItemAsync<int>("characterSelectedIndex");
        Characters = await localStorage.GetItemAsync<List<CharacterModel>>("characters") ?? new();
        if (characterSelectedIndex >= Characters.Count) characterSelectedIndex = 0;
        if (Characters.Count > 0)
        {
            LoadCharacter(Characters[characterSelectedIndex]);
        }
        else
        {
            Character = new();
            Characters.Add(Character);
        }

        await base.OnInitializedAsync();
    }

    public void RefreshComponent()
    {
        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender)
            await JsRuntime.InvokeVoidAsync("adjustNotesSize");
    }

    public void LoadCharacter(CharacterModel character)
    {
        Character = character;
        localStorage.SetItemAsync("characterSelectedIndex", Characters.IndexOf(character));
        RefreshEquipmentModels();
        StateHasChanged();
    }

    private static readonly int[] maxMats = [250, 150, 150, 150, 250, 250, 150, 150, 250, 250, 150, 150];

    [DisallowNull] private WeaponModel weapon = new();
    [DisallowNull] private ArmorModel armor = new();
    [DisallowNull] private UnitModel unit1 = new();
    [DisallowNull] private UnitModel unit2 = new();
    [DisallowNull] private UnitModel unit3 = new();
    [DisallowNull] private UnitModel unit4 = new();
    [DisallowNull] private ShieldModel shield = new();
    [DisallowNull] private MagModel mag = new();

    public string Name
    {
        get { return Character.Name; }
        set { Character.Name = value; RefreshStats(); }
    }

    public ClassFlag? ClassRaceSelection
    {
        get { return Character.ClassFlagSelection; }
        set { Character.ClassFlagSelection = value; RefreshStats(); }
    }

    public string LoadoutSelection
    {
        get { return Character.LoadoutSelection; }
        set { Character.LoadoutSelection = value; RefreshEquipmentModels(); }
    }

    public int Level
    {
        get { return Character.Level; }
        set
        {
            if (value < 1) value = 1;
            if (value > 200) value = 200;
            Character.Level = value; RefreshStats();
        }
    }

    public int HP { get; set; }
    public int TP { get; set; }
    public int BaseATP
    {
        get
        {
            if (!ClassRaceSelection.HasValue) return 0;
            int indexClass = ConvertClassFlagToIndex(ClassRaceSelection.Value);
            var levelDeltas = levelTable.LevelDeltas[indexClass].Take(Level);
            return levelTable.BaseStats[indexClass].ATP + levelDeltas.Sum(l => l.ATP) + GetATPBonus() + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("ATP", s.Code, s.Value)) + (PowerMaterial + Mag.Pow) * 2;
        }
    }
    public int LowATP { get; set; }
    public int ATP { get; set; }
    public int DFP { get; set; }
    public int BaseMST
    {
        get
        {
            if (!ClassRaceSelection.HasValue) return 0;
            int indexClass = ConvertClassFlagToIndex(ClassRaceSelection.Value);
            var levelDeltas = levelTable.LevelDeltas[indexClass].Take(Level);
            return levelTable.BaseStats[indexClass].MST + levelDeltas.Sum(l => l.MST) + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("MST", s.Code, s.Value)) + (MindMaterial + Mag.Mind) * 2;
        }
    }
    public int MST { get; set; }
    public float BaseATA
    {
        get
        {
            if (!ClassRaceSelection.HasValue) return 0;
            int indexClass = ConvertClassFlagToIndex(ClassRaceSelection.Value);
            var levelDeltas = levelTable.LevelDeltas[indexClass].Take(Level);
            return levelTable.BaseStats[indexClass].ATA + levelDeltas.Sum(l => l.ATA) / 10f + GetATABonus() + GetEveryStatBoost().Sum(s => (float)CalculateStatBoost("ATA", s.Code, s.Value)) + Mag.Dex / 2f;
        }
    }
    public float ATA { get; set; }
    public int EVP { get; set; }
    public int LCK { get; set; }
    public int EFR { get; set; }
    public int EIC { get; set; }
    public int ETH { get; set; }
    public int EDK { get; set; }
    public int ELT { get; set; }

    public int HPMaterial
    {
        get { return Character.HPMaterial; }
        set
        {
            if (value < 0) value = 0;
            if (value > 125) value = 125;
            Character.HPMaterial = value; RefreshStats();
        }
    }

    public int TPMaterial
    {
        get { return Character.TPMaterial; }
        set
        {
            if (value < 0) value = 0;
            if (value > MaxTPMaterial()) value = MaxTPMaterial();
            Character.TPMaterial = value; RefreshStats();
        }
    }

    public int PowerMaterial
    {
        get { return Character.PowerMaterial; }
        set
        {
            if (value < 0) value = 0;
            var maxMaterial = MaxPowerDefEvadeMaterial();
            if (value > maxMaterial) value = maxMaterial;
            var totalMaterial = value + DefMaterial + MindMaterial + EvadeMaterial + LuckMaterial;
            if (totalMaterial > maxMaterial) value -= totalMaterial - maxMaterial;
            Character.PowerMaterial = value; RefreshStats();
        }
    }

    public int DefMaterial
    {
        get { return Character.DefMaterial; }
        set
        {
            if (value < 0) value = 0;
            var maxMaterial = MaxPowerDefEvadeMaterial();
            if (value > maxMaterial) value = maxMaterial;
            var totalMaterial = value + PowerMaterial + MindMaterial + EvadeMaterial + LuckMaterial;
            if (totalMaterial > maxMaterial) value -= totalMaterial - maxMaterial;
            Character.DefMaterial = value; RefreshStats();
        }
    }

    public int MindMaterial
    {
        get { return Character.MindMaterial; }
        set
        {
            var maxMaterial = MaxMindMaterial();
            if (value > maxMaterial) value = maxMaterial;
            var totalMaterial = value + PowerMaterial + DefMaterial + EvadeMaterial + LuckMaterial;
            if (totalMaterial > maxMaterial) value -= totalMaterial - maxMaterial;
            if (value < 0) value = 0;
            Character.MindMaterial = value; RefreshStats();
        }
    }

    public int EvadeMaterial
    {
        get { return Character.EvadeMaterial; }
        set
        {
            if (value < 0) value = 0;
            var maxMaterial = MaxPowerDefEvadeMaterial();
            if (value > maxMaterial) value = maxMaterial;
            var totalMaterial = value + PowerMaterial + DefMaterial + MindMaterial + LuckMaterial;
            if (totalMaterial > maxMaterial) value -= totalMaterial - maxMaterial;
            Character.EvadeMaterial = value; RefreshStats();
        }
    }

    public int LuckMaterial
    {
        get { return Character.LuckMaterial; }
        set
        {
            if (value < 0) value = 0;
            if (value > 45) value = 45;
            var totalMaterial = value + PowerMaterial + DefMaterial + MindMaterial + EvadeMaterial;
            if (totalMaterial > MaxPowerDefEvadeMaterial()) value -= totalMaterial - MaxPowerDefEvadeMaterial();
            Character.LuckMaterial = value; RefreshStats();
        }
    }

    public int TargetPowerMaterial
    {
        get { return Character.TargetPowerMaterial; }
        set
        {
            if (value < 0) value = 0;
            var maxMaterial = MaxPowerDefEvadeMaterial();
            if (value > maxMaterial) value = maxMaterial;
            var totalMaterial = value + TargetDefMaterial + TargetMindMaterial + TargetEvadeMaterial + TargetLuckMaterial;
            if (totalMaterial > maxMaterial) value -= totalMaterial - maxMaterial;
            Character.TargetPowerMaterial = value; RefreshStats();
        }
    }

    public int TargetDefMaterial
    {
        get { return Character.TargetDefMaterial; }
        set
        {
            if (value < 0) value = 0;
            var maxMaterial = MaxPowerDefEvadeMaterial();
            if (value > maxMaterial) value = maxMaterial;
            var totalMaterial = value + TargetPowerMaterial + TargetMindMaterial + TargetEvadeMaterial + TargetLuckMaterial;
            if (totalMaterial > maxMaterial) value -= totalMaterial - maxMaterial;
            Character.TargetDefMaterial = value; RefreshStats();
        }
    }

    public int TargetMindMaterial
    {
        get { return Character.TargetMindMaterial; }
        set
        {
            var maxMaterial = MaxMindMaterial();
            if (value > maxMaterial) value = maxMaterial;
            var totalMaterial = value + TargetPowerMaterial + TargetDefMaterial + TargetEvadeMaterial + TargetLuckMaterial;
            if (totalMaterial > maxMaterial) value -= totalMaterial - maxMaterial;
            if (value < 0) value = 0;
            Character.TargetMindMaterial = value; RefreshStats();
        }
    }

    public int TargetEvadeMaterial
    {
        get { return Character.TargetEvadeMaterial; }
        set
        {
            if (value < 0) value = 0;
            var maxMaterial = MaxPowerDefEvadeMaterial();
            if (value > maxMaterial) value = maxMaterial;
            var totalMaterial = value + TargetPowerMaterial + TargetDefMaterial + TargetMindMaterial + TargetLuckMaterial;
            if (totalMaterial > maxMaterial) value -= totalMaterial - maxMaterial;
            Character.TargetEvadeMaterial = value; RefreshStats();
        }
    }

    public int TargetLuckMaterial
    {
        get { return Character.TargetLuckMaterial; }
        set
        {
            if (value < 0) value = 0;
            if (value > 45) value = 45;
            var totalMaterial = value + TargetPowerMaterial + TargetDefMaterial + TargetMindMaterial + TargetEvadeMaterial;
            if (totalMaterial > MaxPowerDefEvadeMaterial()) value -= totalMaterial - MaxPowerDefEvadeMaterial();
            Character.TargetLuckMaterial = value; RefreshStats();
        }
    }

    public bool TargetEditMode { get; set; }
    public int TargetMaterialTotal => 125 + MaxTPMaterial() + TargetPowerMaterial + TargetDefMaterial + TargetMindMaterial + TargetEvadeMaterial + TargetLuckMaterial;

    public int MaxTargetMaterialTotal => 125 + MaxTPMaterial() + MaxPowerDefEvadeMaterial();

    public int ShiftaLevel
    {
        get { return Character.ShiftaLevel; }
        set { Character.ShiftaLevel = value; RefreshStats(); }
    }

    public int DebandLevel
    {
        get { return Character.DebandLevel; }
        set { Character.DebandLevel = value; RefreshStats(); }
    }

    public WeaponModel Weapon
    {
        get { return weapon; }
        set { weapon = value; RefreshStats(); }
    }

    public ArmorModel Armor
    {
        get { return armor; }
        set { armor = value; RefreshStats(); }
    }

    public UnitModel Unit1
    {
        get { return unit1; }
        set { unit1 = value; RefreshStats(); }
    }

    public UnitModel Unit2
    {
        get { return unit2; }
        set { unit2 = value; RefreshStats(); }
    }

    public UnitModel Unit3
    {
        get { return unit3; }
        set { unit3 = value; RefreshStats(); }
    }

    public UnitModel Unit4
    {
        get { return unit4; }
        set { unit4 = value; RefreshStats(); }
    }

    public ShieldModel Shield
    {
        get { return shield; }
        set { shield = value; RefreshStats(); }
    }

    public MagModel Mag
    {
        get { return mag; }
        set { mag = value; RefreshStats(); }
    }

    public string? Notes
    {
        get { return Character.Notes; }
        set { Character.Notes = value; RefreshStats(); }
    }

    public EnemyParameterModel? MonsterTest { get; set; }

    public bool MonsterTestPlayerIsParalyzed { get; set; }
    public bool MonsterTestPlayerIsFrozen { get; set; }
    public bool MonsterTestEnemyIsParalyzed { get; set; }
    public bool MonsterTestEnemyIsFrozen { get; set; }

    public int PlayerNormalAttackAccuracy
    {
        get
        {
            if (MonsterTest == null) return 0;
            var EVPEffective = MonsterTest.EVP * this switch
            {
                { } when MonsterTestEnemyIsParalyzed && MonsterTestEnemyIsFrozen => 0.55,
                { } when MonsterTestEnemyIsParalyzed => 0.85,
                { } when MonsterTestEnemyIsFrozen => 0.7,
                _ => 1
            };
            return (int)Math.Clamp(ATA - EVPEffective * 0.2, 0, 100);
        }
    }

    public int PlayerNormalAttackLowDamage => MonsterTest == null ? 0 : (int)Math.Max(0, (LowATP - MonsterTest.DFP) / 5 * 0.9);
    public int PlayerNormalAttackHighDamage => MonsterTest == null ? 0 : (int)Math.Max(0, (ATP - MonsterTest.DFP) / 5 * 0.9);
    public int PlayerNormalAttackCriticalChance => MonsterTest == null ? 0 : LCK / 5;
    public int PlayerNormalAttackCriticalLowDamage => MonsterTest == null ? 0 : (int)(PlayerNormalAttackLowDamage * 1.5);
    public int PlayerNormalAttackCriticalHighDamage => MonsterTest == null ? 0 : (int)(PlayerNormalAttackHighDamage * 1.5);

    public int MonsterNormalAttackAccuracy
    {
        get
        {
            if (MonsterTest == null) return 0;
            var EVPEffective = EVP * this switch
            {
                { } when MonsterTestPlayerIsParalyzed && MonsterTestPlayerIsFrozen => 0.55,
                { } when MonsterTestPlayerIsParalyzed => 0.85,
                { } when MonsterTestPlayerIsFrozen => 0.7,
                _ => 1
            };
            return (int)Math.Clamp(MonsterTest.ATA - EVPEffective * 0.2, 0, 100);
        }
    }

    public int MonsterNormalAttackDamage => MonsterTest == null ? 0 : Math.Max(0, (MonsterTest.ATP - DFP) / 5);
    public bool MonsterNormalAttackIsKnockdown => MonsterTest == null ? false : (100 * MonsterNormalAttackDamage / HP) >= 25;
    public int MonsterNormalAttackCriticalChance => MonsterTest == null ? 0 : MonsterTest.LCK / 5;
    public int MonsterNormalAttackCriticalDamage => MonsterTest == null ? 0 : (int)(MonsterNormalAttackDamage * 1.5);
    public bool MonsterNormalAttackCriticalIsKnockdown => MonsterTest == null ? false : (100 * MonsterNormalAttackCriticalDamage / HP) >= 25;

    public int ConvertClassFlagToIndex(ClassFlag classFlag) => classFlag switch
    {
        ClassFlag.HUmar => 0,
        ClassFlag.HUnewearl => 1,
        ClassFlag.HUcast => 2,
        ClassFlag.HUcaseal => 3,
        ClassFlag.RAmar => 4,
        ClassFlag.RAmarl => 5,
        ClassFlag.RAcast => 6,
        ClassFlag.RAcaseal => 7,
        ClassFlag.FOmar => 8,
        ClassFlag.FOmarl => 9,
        ClassFlag.FOnewm => 10,
        ClassFlag.FOnewearl => 11,
        _ => throw new NotImplementedException()
    };

    public void RefreshEquipmentModels()
    {
        // Keep equipment names because they will be erased when assigning the new loadout.
        string weaponName = Character.WeaponName;
        string armorName = Character.ArmorName;
        string unit1Name = Character.Unit1Name;
        string unit2Name = Character.Unit2Name;
        string unit3Name = Character.Unit3Name;
        string unit4Name = Character.Unit4Name;
        string shieldName = Character.ShieldName;
        string magName = Character.MagName;
        // It's this order because each one helps with requirements for other equipment.
        Mag = MagModel.Parse(mags, magName);
        Armor = ArmorModel.Parse(armors, armorName);
        Unit1 = UnitModel.Parse(units, unit1Name);
        Unit2 = UnitModel.Parse(units, unit2Name);
        Unit3 = UnitModel.Parse(units, unit3Name);
        Unit4 = UnitModel.Parse(units, unit4Name);
        Shield = ShieldModel.Parse(shields, shieldName);
        Weapon = WeaponModel.Parse(weapons, weaponName);
    }

    public void RefreshStats()
    {
        if (!ClassRaceSelection.HasValue)
        {
            // Reset values.
            if (Level != 1) Character.Level = 1;
            HP = 0;
            TP = 0;
            LowATP = 0;
            ATP = 0;
            DFP = 0;
            MST = 0;
            ATA = 0;
            EVP = 0;
            LCK = 0;
            EFR = 0;
            EIC = 0;
            ETH = 0;
            EDK = 0;
            ELT = 0;
            if (HPMaterial != 0) Character.HPMaterial = 0;
            if (TPMaterial != 0) Character.TPMaterial = 0;
            if (PowerMaterial != 0) Character.PowerMaterial = 0;
            if (DefMaterial != 0) Character.DefMaterial = 0;
            if (MindMaterial != 0) Character.MindMaterial = 0;
            if (EvadeMaterial != 0) Character.EvadeMaterial = 0;
            if (LuckMaterial != 0) Character.LuckMaterial = 0;
            if (TargetPowerMaterial != 0) Character.TargetPowerMaterial = 0;
            if (TargetDefMaterial != 0) Character.TargetDefMaterial = 0;
            if (TargetMindMaterial != 0) Character.TargetMindMaterial = 0;
            if (TargetEvadeMaterial != 0) Character.TargetEvadeMaterial = 0;
            if (TargetLuckMaterial != 0) Character.TargetLuckMaterial = 0;
            if (ShiftaLevel != 0) Character.ShiftaLevel = 0;
            if (DebandLevel != 0) Character.DebandLevel = 0;
            if (Character.WeaponName != "") { Character.WeaponName = ""; Weapon = new(); }
            if (Character.ArmorName != "") { Character.ArmorName = ""; Armor = new(); }
            if (Character.Unit1Name != "") { Character.Unit1Name = ""; Unit1 = new(); }
            if (Character.Unit2Name != "") { Character.Unit2Name = ""; Unit2 = new(); }
            if (Character.Unit3Name != "") { Character.Unit3Name = ""; Unit3 = new(); }
            if (Character.Unit4Name != "") { Character.Unit4Name = ""; Unit4 = new(); }
            if (Character.ShieldName != "") { Character.ShieldName = ""; Shield = new(); }
            if (Character.MagName != "Mag 5/0/0/0") { Character.MagName = "Mag 5/0/0/0"; Mag = MagModel.Parse(mags, "Mag 5/0/0/0"); }

            localStorage.SetItemAsync("characters", Characters);
            return;
        }

        // Clamp materials numbers that can change with class selection.
        var maxMaterial = MaxPowerDefEvadeMaterial();
        if (TPMaterial > MaxTPMaterial()) TPMaterial = MaxTPMaterial();
        if (PowerMaterial > maxMaterial) PowerMaterial = maxMaterial;
        if (DefMaterial > maxMaterial) DefMaterial = maxMaterial;
        if (MindMaterial > MaxMindMaterial()) MindMaterial = MaxMindMaterial();
        if (EvadeMaterial > maxMaterial) EvadeMaterial = maxMaterial;
        if (PowerMaterial + DefMaterial + MindMaterial + EvadeMaterial + LuckMaterial > maxMaterial)
        {
            PowerMaterial = 0;
            DefMaterial = 0;
            MindMaterial = 0;
            EvadeMaterial = 0;
            LuckMaterial = 0;
        }
        if (TargetPowerMaterial > maxMaterial) TargetPowerMaterial = maxMaterial;
        if (TargetDefMaterial > maxMaterial) TargetDefMaterial = maxMaterial;
        if (TargetMindMaterial > MaxMindMaterial()) TargetMindMaterial = MaxMindMaterial();
        if (TargetEvadeMaterial > maxMaterial) TargetEvadeMaterial = maxMaterial;
        if (TargetPowerMaterial + TargetDefMaterial + TargetMindMaterial + TargetEvadeMaterial + TargetLuckMaterial > maxMaterial)
        {
            TargetPowerMaterial = 0;
            TargetDefMaterial = 0;
            TargetMindMaterial = 0;
            TargetEvadeMaterial = 0;
            TargetLuckMaterial = 0;
        }

        // Set equipment names.
        if (Character.WeaponName != Weapon.ToString()) Character.WeaponName = Weapon.ToString();
        if (Character.ArmorName != Armor.ToString()) Character.ArmorName = Armor.ToString();
        if (Character.Unit1Name != Unit1.ToString()) Character.Unit1Name = Unit1.ToString();
        if (Character.Unit2Name != Unit2.ToString()) Character.Unit2Name = Unit2.ToString();
        if (Character.Unit3Name != Unit3.ToString()) Character.Unit3Name = Unit3.ToString();
        if (Character.Unit4Name != Unit4.ToString()) Character.Unit4Name = Unit4.ToString();
        if (Character.ShieldName != Shield.ToString()) Character.ShieldName = Shield.ToString();
        if (Character.MagName != Mag.ToString()) Character.MagName = Mag.ToString();

        // Reset equipment that don't meet requirements.
        if (Weapon.Model != null && !GetItemWithRequirements(Weapon.Model).Any()) Weapon = new();
        if (Armor.Model != null && !GetItemWithRequirements(Armor.Model).Any()) Armor = new();
        if (Unit1.Model != null && (Armor.NumberSlots < 1 || !GetItemWithRequirements(Unit1.Model).Any())) Unit1 = new();
        if (Unit2.Model != null && (Armor.NumberSlots < 2 || !GetItemWithRequirements(Unit2.Model).Any())) Unit2 = new();
        if (Unit3.Model != null && (Armor.NumberSlots < 3 || !GetItemWithRequirements(Unit3.Model).Any())) Unit3 = new();
        if (Unit4.Model != null && (Armor.NumberSlots < 4 || !GetItemWithRequirements(Unit4.Model).Any())) Unit4 = new();
        if (Shield.Model != null && !GetItemWithRequirements(Shield.Model).Any()) Shield = new();

        // Calculate stats.
        int indexClass = ConvertClassFlagToIndex(ClassRaceSelection.Value);
        var baseStats = levelTable.BaseStats[indexClass];
        var levelDeltas = levelTable.LevelDeltas[indexClass].Take(Level);
        var baseATP = BaseATP + Weapon.BaseAtp;
        var baseDFP = baseStats.DFP + levelDeltas.Sum(l => l.DFP) + DefMaterial * 2 + Armor.Dfp + Shield.Dfp
            + GetEveryStatBoost().Sum(s => CalculateStatBoost("DFP", s.Code, s.Value)) + Mag.Def;
        var baseMST = BaseMST + Weapon.Mst;
        HP = (int)Math.Floor((baseStats.HP + levelDeltas.Sum(l => l.HP) + Level - 1) * GetHPMultiplier()) + HPMaterial * 2
            + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("HP", s.Code, s.Value));
        TP = ClassRaceSelection switch
        {
            ClassFlag.HUmar or ClassFlag.HUnewearl or ClassFlag.RAmar or ClassFlag.RAmarl
                => baseMST + Level - 1 + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("TP", s.Code, s.Value)),
            { } when ClassFlag.Force.HasFlag(ClassRaceSelection)
                => (int)Math.Floor((baseMST + Level - 1) * 1.5 + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("TP", s.Code, s.Value))),
            _ => 0
        } + TPMaterial * 2;
        LowATP = (int)Math.Floor(BaseATP + BaseATP * GetShiftaDebandMultiplier(ShiftaLevel)) + Weapon.Atp - Weapon.BaseAtp;
        ATP = (int)Math.Floor(baseATP + baseATP * GetShiftaDebandMultiplier(ShiftaLevel)) + Weapon.Atp - Weapon.BaseAtp;
        DFP = (int)Math.Floor(baseDFP + baseDFP * GetShiftaDebandMultiplier(DebandLevel));
        MST = baseMST;
        ATA = BaseATA + Weapon.Ata;
        EVP = baseStats.EVP + levelDeltas.Sum(l => l.EVP) + EvadeMaterial * 2 + Armor.Evp + Shield.Evp
            + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("EVP", s.Code, s.Value));
        LCK = baseStats.LCK + levelDeltas.Sum(l => l.LCK) + LuckMaterial * 2
            + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("LCK", s.Code, s.Value));
        EFR = Armor.Efr + Shield.Efr + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("EFR", s.Code, s.Value));
        EIC = Armor.Eic + Shield.Eic + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("EIC", s.Code, s.Value));
        ETH = Armor.Eth + Shield.Eth + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("ETH", s.Code, s.Value));
        EDK = Armor.Edk + Shield.Edk + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("EDK", s.Code, s.Value));
        ELT = Armor.Elt + Shield.Elt + GetEveryStatBoost().Sum(s => (int)CalculateStatBoost("ELT", s.Code, s.Value));

        localStorage.SetItemAsync("characters", Characters);
    }

    private double GetHPMultiplier() => ClassRaceSelection switch
    {
        { } when ClassFlag.Hunter.HasFlag(ClassRaceSelection) => 2,
        { } when ClassFlag.Ranger.HasFlag(ClassRaceSelection) => 1.85,
        { } when ClassFlag.Force.HasFlag(ClassRaceSelection) => 1.45,
        _ => 1
    };

    private int GetATPBonus() => ClassRaceSelection switch
    {
        { } when ClassFlag.Hunter.HasFlag(ClassRaceSelection) => 10,
        { } when ClassFlag.Ranger.HasFlag(ClassRaceSelection) => 5,
        { } when ClassFlag.Force.HasFlag(ClassRaceSelection) => 3,
        _ => 0
    };

    private int GetATABonus() => ClassRaceSelection switch
    {
        ClassFlag.HUmar or ClassFlag.HUnewearl => 38,
        ClassFlag.HUcast => 29,
        ClassFlag.HUcaseal => 36,
        ClassFlag.RAmar => 40,
        ClassFlag.RAmarl or ClassFlag.RAcaseal => 32,
        ClassFlag.RAcast => 30,
        ClassFlag.FOmar or ClassFlag.FOmarl => 48,
        ClassFlag.FOnewm => 49,
        ClassFlag.FOnewearl => 51,
        _ => 0
    };

    public IEnumerable<ItemModel> GetItemWithRequirements(params ItemModel[] items)
    {
        if (!ClassRaceSelection.HasValue) yield break;

        foreach (var item in items)
        {
            bool meetRequirement = true;
            switch (item.ItemType)
            {
                case ItemType.Weapon:
                    var weapon = item.AsWeapon;
                    meetRequirement = weapon.EquipableClass.HasFlag(ClassRaceSelection);
                    meetRequirement &= BaseATP >= weapon.ATPRequired;
                    meetRequirement &= BaseATA >= weapon.ATARequired;
                    meetRequirement &= BaseMST >= weapon.MSTRequired;
                    break;

                case ItemType.Armor:
                case ItemType.Shield:
                    var armor = item.AsArmor;
                    meetRequirement = armor.EquipableClass.HasFlag(ClassRaceSelection);
                    meetRequirement &= Level >= armor.RequiredLevel;
                    break;

                case ItemType.Unit:
                    var unit = item.AsUnit;
                    meetRequirement = unit.EquipableClass.HasFlag(ClassRaceSelection);
                    break;
            }
            if (meetRequirement) yield return item;
        }
    }

    private IEnumerable<Stat> GetEveryStatBoost()
        => Weapon.GetStatBoosts().Concat(Armor.GetStatBoosts().Concat(Unit1.GetStatBoosts().Concat(Unit2.GetStatBoosts().Concat(Unit3.GetStatBoosts().Concat(Unit4.GetStatBoosts().Concat(Shield.GetStatBoosts()))))));

    private double CalculateStatBoost(string stat, string statBoost, double amount)
    {
        if (ClassFlag.Cast.HasFlag(ClassRaceSelection.GetValueOrDefault()) && stat is "MST" or "TP") return 0;
        if (statBoost == stat || statBoost == $"+{stat}" || statBoost == "+All" && stat != "HP") return amount;
        if (statBoost == $"-{stat}" || statBoost == "-All" && stat != "HP") return -1 * amount;
        return 0;
    }

    private int MaxTPMaterial() => ClassRaceSelection switch
    {
        null or { } when ClassFlag.Cast.HasFlag(ClassRaceSelection.GetValueOrDefault()) => 0,
        _ => 125
    };

    private int MaxPowerDefEvadeMaterial() => ClassRaceSelection.HasValue ? maxMats[ConvertClassFlagToIndex(ClassRaceSelection.Value)] : 0;

    private int MaxMindMaterial() => ClassRaceSelection switch
    {
        null or { } when ClassFlag.Cast.HasFlag(ClassRaceSelection.GetValueOrDefault()) => 0,
        _ => maxMats[ConvertClassFlagToIndex(ClassRaceSelection!.Value)]
    };

    private double GetShiftaDebandMultiplier(int shiftaDebandLevel)
        => shiftaDebandLevel == 0 ? 0 : Math.Sign(shiftaDebandLevel) * (1.3 * (Math.Abs(shiftaDebandLevel) - 1) + 10) / 100;
    private TimeSpan GetShiftaDebandDuration(int shiftaDebandLevel)
        => shiftaDebandLevel == 0 ? TimeSpan.Zero : new TimeSpan(0, 0, 10 * (Math.Abs(shiftaDebandLevel) - 1) + 40);

    private IEnumerable<Tech> GetClassTechBoost()
    {
        switch (ClassRaceSelection)
        {
            case ClassFlag.FOmar:
                yield return new Tech("Gifoie", 30);
                yield return new Tech("Gibarta", 30);
                yield return new Tech("Gizonde", 30);
                yield return new Tech("Grants", 30);
                yield return new Tech("Shifta", 100);
                yield return new Tech("Deband", 100);
                break;

            case ClassFlag.FOmarl:
                yield return new Tech("Grants", 50);
                yield return new Tech("Resta", 100);
                yield return new Tech("Anti", 100);
                yield return new Tech("Shifta", 100);
                yield return new Tech("Deband", 100);
                break;

            case ClassFlag.FOnewm:
                yield return new Tech("Gifoie", 30);
                yield return new Tech("Gibarta", 30);
                yield return new Tech("Gizonde", 30);
                yield return new Tech("Rafoie", 30);
                yield return new Tech("Rabarta", 30);
                yield return new Tech("Razonde", 30);
                break;

            case ClassFlag.FOnewearl:
                yield return new Tech("Foie", 30);
                yield return new Tech("Barta", 30);
                yield return new Tech("Zonde", 30);
                yield return new Tech("Megid", 100);
                yield return new Tech("Resta", 100);
                yield return new Tech("Anti", 100);
                break;

            default:
                yield break;
        }
    }
    private IEnumerable<Tech> GetEveryTechBoost() => GetClassTechBoost().Concat(Weapon.GetTechBoosts().Concat(Armor.GetTechBoosts().Concat(Shield.GetTechBoosts())))
        .GroupBy(t => t.Name, (name, boosts) => new Tech(name, boosts.Sum(t => t.Value)))
        .Order();

    private IEnumerable<Stat> GetClassStatBoost()
    {
        if (ClassFlag.Ranger.HasFlag(ClassRaceSelection.GetValueOrDefault()))
            yield return new Stat("Ranger", 0);
    }
    private IEnumerable<Stat> GetEverySpecialStats() => GetClassStatBoost().Concat(GetEveryStatBoost())
        .Where(s => !new string[] { "ATP", "MST", "ATA", "EVP", "HP", "TP", "DFP", "LCK", "EFR", "EIC", "ETH", "ELT", "EDK", "+ATP", "+ATA", "+EVP", "+DFP", "+MST", "+HP", "+LCK", "+All", "-ATP", "-ATA", "-EVP", "-DFP", "-MST", "-HP", "-LCK", "-All" }.Contains(s.Code));

    public ItemModel? GetItemByName(string name)
    {
        return weapons.Concat(armors.Concat(shields.Concat(units.Concat(mags)))).FirstOrDefault(i => i.ItemName == name);
    }

    private IEnumerable<DropLocationModel> GetItemLocations()
    {
        var items = weapons.Concat(armors.Concat(shields.Concat(units.Concat(mags))));
        var wishlistItems = Character.Wishlist.Join(items, w => w, i => i.ItemName, (w, i) => i.ItemIdentifier);

        return dropsLocations.Join(wishlistItems, dl => dl.ItemIdentifier, w => w, (dl, w) => dl);
    }
}
