@page "/quests"
@using PSOServerWebsite.Services
@inject ItemsService itemsService
@inject ConfigService configService

<PageTitle>Quests</PageTitle>

<h1>Quests</h1>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>Coren</h2>
    @foreach (var questF960 in questF960Success)
    {
        <h3>@questF960.MesetaCost Meseta</h3>
        <p>
            @foreach (var upgradeQuest in questF960.PayingMethods())
            {
                <text>
                    Probability to win one of these when paying @upgradeQuest.MesetaCost Meseta: @upgradeQuest.ProbabilityPercentage<br />
                </text>
            }
        </p>
        <table class="@(questF960.HasALotOfItems ? "quests-items" : "") table table-striped table-hover table-sm header-with-probability">
            <tbody>
                @foreach (var items in questF960.ItemsByDay)
                {
                    <tr>
                        <th>
                            <div data-bs-toggle="tooltip" data-bs-html="true"
                                 title="@(string.Join("<br />", questF960.PayingMethods().Select(p => $"When paying {p.MesetaCost}: {(p.Probability / items.Value.Length).ToPercentage()}")))">
                                @items.Key
                                <Probability ProbabilityRatio="@($"1/{items.Value.Length}")" class="probability" />
                            </div>
                        </th>
                        @foreach (var item in items.Value)
                        {
                            <td>
                                <ItemName ItemIdentifier="@(this.items[item].FirstOrDefault()?.Identifier ?? item)" ModalMoreInfo="@modalMoreInfo" />
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    <h3>Failure</h3>
    <p>When all the other tables have failed</p>
    <table class="table table-striped table-hover table-sm header-with-probability">
        <tbody>
            @foreach (var failureItems in config.QuestF960FailureResultItems)
            {
                <tr>
                    <th>
                        <div data-bs-toggle="tooltip" data-bs-html="true"
                             title="@(string.Join("<br />", questF960Success.Select(p => $"When paying {p.MesetaCost}: {(p.FailureProbability / failureItems.Value.Length).ToPercentage()}")))">
                            @failureItems.Key
                            <Probability ProbabilityRatio="@($"1/{failureItems.Value.Length}")" class="probability" />
                        </div>
                    </th>
                    @foreach (var item in failureItems.Value)
                    {
                        <td>
                            <ItemName ItemIdentifier="@(this.items[item.Replace(" x1", "")].FirstOrDefault()?.Identifier ?? item)" ModalMoreInfo="@modalMoreInfo" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    </script>
}

<ItemMoreInfoModal @ref="modalMoreInfo" OnLoaded="ModalMoreInfoOnLoaded" />

@code {
    [DisallowNull] private ILookup<string, ItemModel> items = default!;
    [DisallowNull] private ConfigModel config = default!;
    [DisallowNull] private Dictionary<string, LocationF95E[]> questF95EByItem = default!;
    [DisallowNull] private IEnumerable<QuestF960Success> questF960Success = default!;
    [DisallowNull] private ItemMoreInfoModal modalMoreInfo = default!;

    [MemberNotNullWhen(false, nameof(items), nameof(config), nameof(modalMoreInfo))]
    private bool IsLoading => items == null || config == null || modalMoreInfo == null || modalMoreInfoIsLoading;

    protected override async Task OnInitializedAsync()
    {
        items = (await itemsService.GetItemsAsync()).ToLookup(i => i.Name, StringComparer.InvariantCultureIgnoreCase);

        config = await configService.GetConfigAsync();
        questF95EByItem = config.ConvertQuestF95EResultItems().Types()
            .SelectMany(t => t.Value.Difficulties(), (type, difficulties) => (type, difficulties))
            .SelectMany(q => q.difficulties.Value, (q, item) => new LocationF95E(q.difficulties.Name, q.type.Name, $"1/{q.difficulties.Value.Length}", item))
            .GroupBy(q => q.ItemDescription).ToDictionary(q => q.Key, d => d.ToArray());
        questF960Success = config.QuestF960SuccessResultItems.OrderByDescending(q => q.MesetaCost).Select(q => new QuestF960Success(q, config.QuestF960SuccessResultItems));
    }

    private bool modalMoreInfoIsLoading = true;
    private void ModalMoreInfoOnLoaded()
    {
        modalMoreInfoIsLoading = false;
        StateHasChanged();
    }

    private class LocationF95E(string difficultyName, string location, string probability, string itemDescription)
    {
        public LocationF95E(NamedObject<DifficultyModel> difficulty, string location, string probability, string itemDescription) : this(difficulty.Name, location, probability, itemDescription)
        {
        }

        public string DifficultyName { get; set; } = difficultyName;
        public string Location { get; set; } = location;
        public string Probability { get; set; } = probability;
        public string ItemDescription { get; set; } = itemDescription;
    }

    private class QuestF960Success(QuestF960Model questF960, QuestF960Model[] questF960SuccessResultItems)
    {
        public string MesetaCost => questF960.MesetaCost.ToString("N0");
        public bool HasALotOfItems => questF960.ItemsByDay.Max(i => i.Value.Length) > 11;
        public Dictionary<string, string[]> ItemsByDay => questF960.ItemsByDay;

        private double ProbabilityToPercentage(string probability) => (double)Convert.ToUInt32(probability, 16) / uint.MaxValue;

        public IEnumerable<(string MesetaCost, double Probability, string ProbabilityPercentage)> PayingMethods()
        {
            return questF960SuccessResultItems.OrderByDescending(q => q.MesetaCost).TakeWhile(q => q.MesetaCost >= questF960.MesetaCost)
                .Select(upgradeQuest =>
                {
                    double probability = questF960SuccessResultItems.OrderByDescending(q => q.MesetaCost).SkipWhile(q => q.MesetaCost >= upgradeQuest.MesetaCost).TakeWhile(q => q.MesetaCost >= questF960.MesetaCost).Aggregate(ProbabilityToPercentage(upgradeQuest.BaseProbability), (sum, q) => sum + ProbabilityToPercentage(q.ProbabilityUpgrade));
                    (string MesetaCost, double Probability, string ProbabilityPercentage) value = (upgradeQuest.MesetaCost.ToString("N0"), probability, probability.ToPercentage());
                    return value;
                });
        }

        public double FailureProbability => Math.Max(0, 1 - questF960SuccessResultItems.OrderByDescending(q => q.MesetaCost).SkipWhile(q => q.MesetaCost >= questF960.MesetaCost).Aggregate(ProbabilityToPercentage(questF960.BaseProbability), (sum, q) => sum + ProbabilityToPercentage(q.ProbabilityUpgrade)));
    }
}
