@page "/quests"
@using PSOServerWebsite.Services
@inject ItemsService itemsService
@inject ConfigService configService

<PageTitle>Quests</PageTitle>

<h1>Quests</h1>

@if (IsLoading)
{
    <p><em>Loading...</em></p>
}
else
{
    <h2>Good Luck!</h2>
    <p>Exchange <ItemName ItemIdentifier="0x031003" ModalMoreInfo="@modalMoreInfo" /> for an equal chance of getting one of these items.</p>
    <ul class="container row ps-5">
        @foreach (var itemIdentifier in config.SecretLotteryResultItems)
        {
            <li class="col-3 ps-0"><ItemName ItemIdentifier="@itemIdentifier" ModalMoreInfo="@modalMoreInfo" /></li>
        }
    </ul>

    <h2>Black Paper's Dangerous Deal 1</h2>
    <p>Equal chance of getting one of these items.</p>
    <h3>Dorphon route</h3>
    @foreach (var difficulty in config.ConvertQuestF95EResultItems().Dorphon.Difficulties())
    {
        <h4>@difficulty.Name</h4>
        <ul class="container row ps-5">
            @foreach (var itemIdentifier in difficulty.Value)
            {
                <li class="col-3 ps-0"><ItemName ItemIdentifier="@itemIdentifier" ModalMoreInfo="@modalMoreInfo" /></li>
            }
        </ul>
    }
    <h3>Sand Rappy route</h3>
    @foreach (var difficulty in config.ConvertQuestF95EResultItems().SandRappy.Difficulties())
    {
        <h4>@difficulty.Name</h4>
        <ul class="container row ps-5">
            @foreach (var itemIdentifier in difficulty.Value)
            {
                <li class="col-3 ps-0"><ItemName ItemIdentifier="@itemIdentifier" ModalMoreInfo="@modalMoreInfo" /></li>
            }
        </ul>
    }
    <h3>Zu route</h3>
    @foreach (var difficulty in config.ConvertQuestF95EResultItems().Zu.Difficulties())
    {
        <h4>@difficulty.Name</h4>
        <ul class="container row ps-5">
            @foreach (var itemIdentifier in difficulty.Value)
            {
                <li class="col-3 ps-0"><ItemName ItemIdentifier="@itemIdentifier" ModalMoreInfo="@modalMoreInfo" /></li>
            }
        </ul>
    }

    <h2>Black Paper's Dangerous Deal 2</h2>
    <p>Equal chance of getting one of these items.</p>
    @foreach (var difficulty in config.ConvertQuestF95EResultItems().BPDD2.Difficulties())
    {
        <h4>@difficulty.Name</h4>
        <ul class="container row ps-5">
            @foreach (var itemIdentifier in difficulty.Value)
            {
                <li class="col-3 ps-0"><ItemName ItemIdentifier="@itemIdentifier" ModalMoreInfo="@modalMoreInfo" /></li>
            }
        </ul>
    }

    <h2>Gallon's Plan</h2>
    <p>Exchange for a number of <ItemName ItemIdentifier="0x031004" ModalMoreInfo="@modalMoreInfo" /> to get the following items from Hopkins near the bank.</p>
    <table class="table table-striped table-hover w-50">
        <thead>
            <tr>
                <th scope="col">Number of <ItemName ItemIdentifier="0x031004" ModalMoreInfo="@modalMoreInfo" /></th>
                <th scope="col">Item</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in config.QuestF95FResultItems.Where(q => q.NumPhotonTickets > 0))
            {
                <tr>
                    <td>@item.NumPhotonTickets</td>
                    <td><ItemName ItemIdentifier="@item.ItemDescription" ModalMoreInfo="@modalMoreInfo" /></td>
                </tr>
            }
        </tbody>
    </table>

    <h2>Coren</h2>
    @foreach (var questF960 in questF960Success)
    {
        <h3>@questF960.MesetaCost Meseta</h3>
        <p>
            @foreach (var payingMethod in questF960.PayingMethodsWithProbability.OrderByDescending(p => p.Key))
            {
                <text>
                    Probability to win one of these when paying @payingMethod.Key Meseta: @payingMethod.Value.ToPercentage()<br />
                </text>
            }
        </p>
        <table class="@(questF960.HasALotOfItems ? "quests-items" : "") table table-striped table-hover table-sm header-with-probability">
            <tbody>
                @foreach (var items in questF960.ItemsByDay)
                {
                    <tr>
                        <th>
                            <div data-bs-toggle="tooltip" data-bs-html="true"
                                 title="@(string.Join("<br />", questF960.PayingMethodsWithProbability.OrderByDescending(p => p.Key).Select(p => $"When paying {p.Key}: {(p.Value / items.Value.Length).ToPercentage()}")))">
                                @items.Key
                                <Probability ProbabilityRatio="@($"1/{items.Value.Length}")" class="probability" />
                            </div>
                        </th>
                        @foreach (var item in items.Value)
                        {
                            <td>
                                <ItemName ItemIdentifier="@(this.items[item].FirstOrDefault()?.Identifier ?? item)" ModalMoreInfo="@modalMoreInfo" />
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    <h3>Failure</h3>
    <p>
        @foreach (var payingMethod in questF960Success.OrderByDescending(p => p.MesetaCost))
        {
            <text>
                When all the other tables have failed when paying @payingMethod.MesetaCost Meseta: @payingMethod.FailureProbability.ToPercentage()<br />
            </text>
        }
    </p>
    <table class="table table-striped table-hover table-sm header-with-probability">
        <tbody>
            @foreach (var failureItems in config.QuestF960FailureResultItems)
            {
                <tr>
                    <th>
                        <div data-bs-toggle="tooltip" data-bs-html="true"
                             title="@(string.Join("<br />", questF960Success.Select(p => $"When paying {p.MesetaCost}: {(p.FailureProbability / failureItems.Value.Length).ToPercentage()}")))">
                            @failureItems.Key
                            <Probability ProbabilityRatio="@($"1/{failureItems.Value.Length}")" class="probability" />
                        </div>
                    </th>
                    @foreach (var item in failureItems.Value)
                    {
                        <td>
                            <ItemName ItemIdentifier="@(this.items[item.Replace(" x1", "")].FirstOrDefault()?.Identifier ?? item)" ModalMoreInfo="@modalMoreInfo" />
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    </script>

    <h2>Governement Quests</h2>
    <h3>Episode 1</h3>
    <p>Talk to Irene after completing the following quests.</p>
    <h4>1-3:Subterranean Den</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Class</th>
                <th scope="col">Normal</th>
                <th scope="col">Hard</th>
                <th scope="col">Very Hard</th>
                <th scope="col">Ultimate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Hunter</th>
                <td><ItemName ItemIdentifier="0x000200" ModalMoreInfo="@modalMoreInfo" /> +5</td>
                <td><ItemName ItemIdentifier="0x000202" ModalMoreInfo="@modalMoreInfo" /> +5</td>
                <td><ItemName ItemIdentifier="0x000204" ModalMoreInfo="@modalMoreInfo" /> +5</td>
                <td><ItemName ItemIdentifier="0x000207" ModalMoreInfo="@modalMoreInfo" /> 0/25/0/0/25</td>
            </tr>
            <tr>
                <th scope="row">Ranger</th>
                <td><ItemName ItemIdentifier="0x000700" ModalMoreInfo="@modalMoreInfo" /> +5</td>
                <td><ItemName ItemIdentifier="0x000702" ModalMoreInfo="@modalMoreInfo" /> +5</td>
                <td><ItemName ItemIdentifier="0x000704" ModalMoreInfo="@modalMoreInfo" /> +5</td>
                <td><ItemName ItemIdentifier="0x000707" ModalMoreInfo="@modalMoreInfo" /> 0/25/0/0/25</td>
            </tr>
            <tr>
                <th scope="row">Force</th>
                <td><ItemName ItemIdentifier="0x03020F" ModalMoreInfo="@modalMoreInfo" />Resta LV3 disk</td>
                <td><ItemName ItemIdentifier="0x03020F" ModalMoreInfo="@modalMoreInfo" />Resta LV8 disk</td>
                <td><ItemName ItemIdentifier="0x03020F" ModalMoreInfo="@modalMoreInfo" />Resta LV13 disk</td>
                <td><ItemName ItemIdentifier="0x03020F" ModalMoreInfo="@modalMoreInfo" />Resta LV23 disk</td>
            </tr>
        </tbody>
    </table>
    <h4>2-4:Waterway Shadow</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Class</th>
                <th scope="col">Normal</th>
                <th scope="col">Hard</th>
                <th scope="col">Very Hard</th>
                <th scope="col">Ultimate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Hunter</th>
                <td><ItemName ItemIdentifier="0x000302" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000303" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000304" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000307" ModalMoreInfo="@modalMoreInfo" /> 0/0/25/0/25</td>
            </tr>
            <tr>
                <th scope="row">Ranger</th>
                <td><ItemName ItemIdentifier="0x000800" ModalMoreInfo="@modalMoreInfo" /> +9</td>
                <td><ItemName ItemIdentifier="0x000802" ModalMoreInfo="@modalMoreInfo" /> +9</td>
                <td><ItemName ItemIdentifier="0x000804" ModalMoreInfo="@modalMoreInfo" /> +9</td>
                <td><ItemName ItemIdentifier="0x000807" ModalMoreInfo="@modalMoreInfo" /> 0/0/25/0/25</td>
            </tr>
            <tr>
                <th scope="row">Force</th>
                <td>
                    <ItemName ItemIdentifier="0x03020D" ModalMoreInfo="@modalMoreInfo" />Shifta LV4 disk<br />
                    <ItemName ItemIdentifier="0x03020B" ModalMoreInfo="@modalMoreInfo" />Jellen LV4 disk
                </td>
                <td>
                    <ItemName ItemIdentifier="0x03020D" ModalMoreInfo="@modalMoreInfo" />Shifta LV9 disk<br />
                    <ItemName ItemIdentifier="0x03020B" ModalMoreInfo="@modalMoreInfo" />Jellen LV9 disk
                </td>
                <td>
                    <ItemName ItemIdentifier="0x03020D" ModalMoreInfo="@modalMoreInfo" />Shifta LV14 disk<br />
                    <ItemName ItemIdentifier="0x03020B" ModalMoreInfo="@modalMoreInfo" />Jellen LV14 disk
                </td>
                <td>
                    <ItemName ItemIdentifier="0x03020D" ModalMoreInfo="@modalMoreInfo" />Shifta LV24 disk<br />
                    <ItemName ItemIdentifier="0x03020B" ModalMoreInfo="@modalMoreInfo" />Jellen LV24 disk
                </td>
            </tr>
        </tbody>
    </table>
    <h4>3-3:Central Control</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Class</th>
                <th scope="col">Normal</th>
                <th scope="col">Hard</th>
                <th scope="col">Very Hard</th>
                <th scope="col">Ultimate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Hunter</th>
                <td><ItemName ItemIdentifier="0x000500" ModalMoreInfo="@modalMoreInfo" /> +15</td>
                <td><ItemName ItemIdentifier="0x000502" ModalMoreInfo="@modalMoreInfo" /> +15</td>
                <td><ItemName ItemIdentifier="0x000504" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000507" ModalMoreInfo="@modalMoreInfo" /> 0/0/0/25/25</td>
            </tr>
            <tr>
                <th scope="row">Ranger</th>
                <td><ItemName ItemIdentifier="0x000900" ModalMoreInfo="@modalMoreInfo" /> +15</td>
                <td><ItemName ItemIdentifier="0x000902" ModalMoreInfo="@modalMoreInfo" /> +15</td>
                <td><ItemName ItemIdentifier="0x000904" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000907" ModalMoreInfo="@modalMoreInfo" /> 0/0/0/25/25</td>
            </tr>
            <tr>
                <th scope="row">Force</th>
                <td>
                    <ItemName ItemIdentifier="0x03020A" ModalMoreInfo="@modalMoreInfo" />Deband LV5 disk<br />
                    <ItemName ItemIdentifier="0x03020C" ModalMoreInfo="@modalMoreInfo" />Zalure LV5 disk
                </td>
                <td>
                    <ItemName ItemIdentifier="0x03020A" ModalMoreInfo="@modalMoreInfo" />Deband LV10 disk<br />
                    <ItemName ItemIdentifier="0x03020C" ModalMoreInfo="@modalMoreInfo" />Zalure LV10 disk
                </td>
                <td>
                    <ItemName ItemIdentifier="0x03020A" ModalMoreInfo="@modalMoreInfo" />Deband LV15 disk<br />
                    <ItemName ItemIdentifier="0x03020C" ModalMoreInfo="@modalMoreInfo" />Zalure LV15 disk
                </td>
                <td>
                    <ItemName ItemIdentifier="0x03020A" ModalMoreInfo="@modalMoreInfo" />Deband LV25 disk<br />
                    <ItemName ItemIdentifier="0x03020C" ModalMoreInfo="@modalMoreInfo" />Zalure LV25 disk
                </td>
            </tr>
        </tbody>
    </table>
    <h3>Episode 2</h3>
    <p>Talk to Natasha's assistant after completing the following quests.</p>
    <h4>5-5:Test/VR Temple 5</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Class</th>
                <th scope="col">Normal</th>
                <th scope="col">Hard</th>
                <th scope="col">Very Hard</th>
                <th scope="col">Ultimate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Hunter</th>
                <td><ItemName ItemIdentifier="0x000103" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000104" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000107" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000D00" ModalMoreInfo="@modalMoreInfo" /> +10 0/0/0/0/50</td>
            </tr>
            <tr>
                <th scope="row">Ranger</th>
                <td><ItemName ItemIdentifier="0x000103" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000104" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000107" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x000706" ModalMoreInfo="@modalMoreInfo" /> 0/0/0/0/50</td>
            </tr>
            <tr>
                <th scope="row">Force</th>
                <td><ItemName ItemIdentifier="0x0302000" ModalMoreInfo="@modalMoreInfo" />Foie LV8 disk</td>
                <td><ItemName ItemIdentifier="0x030201" ModalMoreInfo="@modalMoreInfo" />Gifoie LV13 disk</td>
                <td><ItemName ItemIdentifier="0x030202" ModalMoreInfo="@modalMoreInfo" />Rafoie LV16 disk</td>
                <td><ItemName ItemIdentifier="0x000E00" ModalMoreInfo="@modalMoreInfo" /> 0/0/0/0/50</td>
            </tr>
        </tbody>
    </table>
    <h4>6-5:Test/Spaceship 5</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Class</th>
                <th scope="col">Normal</th>
                <th scope="col">Hard</th>
                <th scope="col">Very Hard</th>
                <th scope="col">Ultimate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Hunter</th>
                <td><ItemName ItemIdentifier="0x000603" ModalMoreInfo="@modalMoreInfo" /> +15</td>
                <td><ItemName ItemIdentifier="0x000604" ModalMoreInfo="@modalMoreInfo" /> +15</td>
                <td><ItemName ItemIdentifier="0x000607" ModalMoreInfo="@modalMoreInfo" /> +15</td>
                <td><ItemName ItemIdentifier="0x000406" ModalMoreInfo="@modalMoreInfo" /> 0/0/0/0/40</td>
            </tr>
            <tr>
                <th scope="row">Ranger</th>
                <td><ItemName ItemIdentifier="0x000603" ModalMoreInfo="@modalMoreInfo" /> +15</td>
                <td><ItemName ItemIdentifier="0x000604" ModalMoreInfo="@modalMoreInfo" /> +15</td>
                <td><ItemName ItemIdentifier="0x000607" ModalMoreInfo="@modalMoreInfo" /> +15</td>
                <td><ItemName ItemIdentifier="0x000906" ModalMoreInfo="@modalMoreInfo" /> 0/0/0/0/40</td>
            </tr>
            <tr>
                <th scope="row">Force</th>
                <td><ItemName ItemIdentifier="0x030203" ModalMoreInfo="@modalMoreInfo" />Barta LV10 disk</td>
                <td><ItemName ItemIdentifier="0x030204" ModalMoreInfo="@modalMoreInfo" />Gibarta LV15 disk</td>
                <td><ItemName ItemIdentifier="0x030205" ModalMoreInfo="@modalMoreInfo" />Rabarta LV18 disk</td>
                <td><ItemName ItemIdentifier="0x000B05" ModalMoreInfo="@modalMoreInfo" /> 0/0/0/0/40</td>
            </tr>
        </tbody>
    </table>
    <h4>7-5:Isle of Mutants</h4>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Class</th>
                <th scope="col">Normal</th>
                <th scope="col">Hard</th>
                <th scope="col">Very Hard</th>
                <th scope="col">Ultimate</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Hunter</th>
                <td><ItemName ItemIdentifier="0x000403" ModalMoreInfo="@modalMoreInfo" /> +20</td>
                <td><ItemName ItemIdentifier="0x000404" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x008900" ModalMoreInfo="@modalMoreInfo" /> +20</td>
                <td><ItemName ItemIdentifier="0x008901" ModalMoreInfo="@modalMoreInfo" /> 0/0/0/0/30</td>
            </tr>
            <tr>
                <th scope="row">Ranger</th>
                <td><ItemName ItemIdentifier="0x000403" ModalMoreInfo="@modalMoreInfo" /> +20</td>
                <td><ItemName ItemIdentifier="0x000404" ModalMoreInfo="@modalMoreInfo" /> +10</td>
                <td><ItemName ItemIdentifier="0x008B00" ModalMoreInfo="@modalMoreInfo" /> +9</td>
                <td><ItemName ItemIdentifier="0x008B01" ModalMoreInfo="@modalMoreInfo" /> 0/0/0/0/30</td>
            </tr>
            <tr>
                <th scope="row">Force</th>
                <td><ItemName ItemIdentifier="0x030206" ModalMoreInfo="@modalMoreInfo" />Zonde LV12 disk</td>
                <td><ItemName ItemIdentifier="0x030207" ModalMoreInfo="@modalMoreInfo" />Gizonde LV17 disk</td>
                <td><ItemName ItemIdentifier="0x030208" ModalMoreInfo="@modalMoreInfo" />Razonde LV20 disk</td>
                <td><ItemName ItemIdentifier="0x008C01" ModalMoreInfo="@modalMoreInfo" /> 0/0/0/0/30</td>
            </tr>
        </tbody>
    </table>
}

<ItemMoreInfoModal @ref="modalMoreInfo" OnLoaded="ModalMoreInfoOnLoaded" />

@code {
    [DisallowNull] private ILookup<string, ItemModel> items = default!;
    [DisallowNull] private ConfigModel config = default!;
    [DisallowNull] private IEnumerable<QuestF960Success> questF960Success = default!;
    [DisallowNull] private ItemMoreInfoModal modalMoreInfo = default!;

    [MemberNotNullWhen(false, nameof(items), nameof(config), nameof(modalMoreInfo))]
    private bool IsLoading => items == null || config == null || modalMoreInfo == null || modalMoreInfoIsLoading;

    protected override async Task OnInitializedAsync()
    {
        items = (await itemsService.GetItemsAsync()).ToLookup(i => i.Name, StringComparer.InvariantCultureIgnoreCase);

        config = await configService.GetConfigAsync();

        // When a prize is requested, the server chooses a random number and checks it against the tier's probability.
        // If the check passes, one of the items for the current weekday is chosen uniformly at random and given to the player.
        // If the check fails, the next lower tier is checked in a similar manner, but uses BaseProbability + ProbabilityUpgrade.
        // If that check fails, the next lower tier is checked, with 2x ProbabilityUpgrade, and so on.
        // If no tiers produce an item, one of the QuestF960FailureResultItems is given.
        Dictionary<string, QuestF960Success> questF960SuccessBuilder = [];
        foreach (var questF960 in config.QuestF960SuccessResultItems.OrderByDescending(q => q.MesetaCost))
        {
            var questF960Success = new QuestF960Success(questF960);
            Dictionary<string, double>? precedentPayingMethods = null;
            foreach (var precedentTier in questF960SuccessBuilder.OrderBy(q => q.Key))
            {
                double precedentProbability = 0;
                precedentPayingMethods?.TryGetValue(precedentTier.Key, out precedentProbability);
                questF960Success.PayingMethodsWithProbability.Add(precedentTier.Key, (1 - precedentTier.Value.BaseProbability - precedentProbability) * Math.Min(questF960Success.BaseProbability + questF960Success.ProbabilityUpgrade + (precedentProbability > 0 ? questF960Success.ProbabilityUpgrade : 0), 1));
                precedentPayingMethods = questF960SuccessBuilder[precedentTier.Key].PayingMethodsWithProbability;
            }
            questF960Success.PayingMethodsWithProbability.Add(questF960Success.MesetaCost, questF960Success.BaseProbability);
            questF960SuccessBuilder.Add(questF960Success.MesetaCost, questF960Success);
        }
        // Calculate the failure probability for each tier when everything else is calculated.
        foreach (var questF960 in questF960SuccessBuilder)
        {
            questF960.Value.FailureProbability = 1 - questF960SuccessBuilder.SelectMany(q => q.Value.PayingMethodsWithProbability).Where(q => q.Key == questF960.Key).Sum(q => q.Value);
        }
        questF960Success = questF960SuccessBuilder.Values;
    }

    private bool modalMoreInfoIsLoading = true;
    private void ModalMoreInfoOnLoaded()
    {
        modalMoreInfoIsLoading = false;
        StateHasChanged();
    }

    private class QuestF960Success(QuestF960Model questF960)
    {
        public string MesetaCost => questF960.MesetaCost.ToString("N0");
        public double BaseProbability => ProbabilityToPercentage(questF960.BaseProbability);
        public double ProbabilityUpgrade => ProbabilityToPercentage(questF960.ProbabilityUpgrade);
        public bool HasALotOfItems => questF960.ItemsByDay.Max(i => i.Value.Length) > 11;
        public Dictionary<string, string[]> ItemsByDay => questF960.ItemsByDay;

        public Dictionary<string, double> PayingMethodsWithProbability = [];
        public double FailureProbability { get; set; } = 1;

        private double ProbabilityToPercentage(string probability) => (double)Convert.ToUInt32(probability, 16) / uint.MaxValue;
    }
}
