@using PSOServerWebsite.Repositories
@using PSOServerWebsite.Services

<div class="class-flags container px-0">
    <div class="row row-cols-4">
        <div class="col"><span class="badge @(IsHumar ? "bg-primary" : "bg-secondary")">HUmr</span></div>
        <div class="col"><span class="badge @(IsHunewearl ? "bg-primary" : "bg-secondary")">HUnl</span></div>
        <div class="col"><span class="badge @(IsHucast ? "bg-primary" : "bg-secondary")">HUct</span></div>
        <div class="col"><span class="badge @(IsHucaseal ? "bg-primary" : "bg-secondary")">HUcl</span></div>
    </div>
    <div class="row row-cols-4">
        <div class="col"><span class="badge @(IsRamar ? "bg-primary" : "bg-secondary")">RAmr</span></div>
        <div class="col"><span class="badge @(IsRamarl ? "bg-primary" : "bg-secondary")">RAml</span></div>
        <div class="col"><span class="badge @(IsRacast ? "bg-primary" : "bg-secondary")">RAct</span></div>
        <div class="col"><span class="badge @(IsRacaseal ? "bg-primary" : "bg-secondary")">RAcl</span></div>
    </div>
    <div class="row row-cols-4">
        <div class="col"><span class="badge @(IsFomar ? "bg-primary" : "bg-secondary")">FOmr</span></div>
        <div class="col"><span class="badge @(IsFomarl ? "bg-primary" : "bg-secondary")">FOml</span></div>
        <div class="col"><span class="badge @(IsFonewm ? "bg-primary" : "bg-secondary")">FOnm</span></div>
        <div class="col"><span class="badge @(IsFonewearl ? "bg-primary" : "bg-secondary")">FOnl</span></div>
    </div>
</div>

@code {
    [Parameter]
    public ClassFeatureFlag ValueFlags { get; set; }
    [Parameter]
    public ClassFlag Value { get; set; }

    public bool IsHumar => Value.HasFlag(ClassFlag.HUmar) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[0]);
    public bool IsHunewearl => Value.HasFlag(ClassFlag.HUnewearl) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[1]);
    public bool IsHucast => Value.HasFlag(ClassFlag.HUcast) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[2]);
    public bool IsHucaseal => Value.HasFlag(ClassFlag.HUcaseal) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[3]);
    public bool IsRamar => Value.HasFlag(ClassFlag.RAmar) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[4]);
    public bool IsRamarl => Value.HasFlag(ClassFlag.RAmarl) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[5]);
    public bool IsRacast => Value.HasFlag(ClassFlag.RAcast) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[6]);
    public bool IsRacaseal => Value.HasFlag(ClassFlag.RAcaseal) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[7]);
    public bool IsFomar => Value.HasFlag(ClassFlag.FOmar) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[8]);
    public bool IsFomarl => Value.HasFlag(ClassFlag.FOmarl) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[9]);
    public bool IsFonewm => Value.HasFlag(ClassFlag.FOnewm) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[10]);
    public bool IsFonewearl => Value.HasFlag(ClassFlag.FOnewearl) || ValueFlags.HasFlag(ItemPMTRepository.ClassFeatureFlagsByClass[11]);
}
